.blog-content-h2 {
  padding: 5px 14px;
  margin-bottom: 25px;
  font-size: 37px;
  line-height: 1.437;
  background-color: var(--color-light);

  @media (max-width: 639px) {
    padding: 3px 10px;
    margin-bottom: 15px;
    font-size: 18px;
  }
}

.blog-content-h3 {
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 1.428;

  @media (max-width: 639px) {
    font-size: 18px;
  }

  & span {
    border-bottom: 2px solid var(--color-dark);
  }
}

.blog-content-h4 {
  margin-bottom: 25px;
  font-size: 32px;
  line-height: 1.181;

  @media (max-width: 639px) {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

.blog-content-li {
  font-size: 21px;

  @media (max-width: 639px) {
    font-size: 14px;
  }
}

.blog-content-p {
  font-size: 21px;

  @media (max-width: 639px) {
    font-size: 14px;
  }
}

.blog-content-p + * {
  margin-top: 60px;
}
